.center {
  display:flex;
  justify-content:center;
  align-items:center;
}

.osquare {
  width: 200px;
  height: 200px;
  padding: 35px;
  background-image: url('https://media.giphy.com/media/l0He3gKApaBsndtIs/giphy.gif');
  background-size: cover;
  background-position: center;
  background-clip: content-box, padding-box;
  background-clip: content-box, padding-box;
  color: white;
  font-size: 500%;
  font-family: 'Nanum Brush Script';
}

.xsquare {
  width: 200px;
  height: 200px;
  padding: 35px;
  background-image: url('https://media.giphy.com/media/dsGCzONizjXuU/giphy.gif');
  background-size: cover;
  background-position: center;
  background-clip: content-box, padding-box;
  color: black;
  font-size: 500%;
  font-family: 'Nanum Brush Script';
}

.neutralSquare {
  width: 200px;
  height: 200px;
  padding: 35px;
  background-image: black;
  background-size: cover;
  background-position: center;
  background-clip: content-box, padding-box;
  color: black;
  font-size: 500%;
  font-family: 'Nanum Brush Script';
}

body {
  height: 100%;
  width: 100%;
  background-image: url('https://media.giphy.com/media/26xBDVWhAgjoBLUmQ/giphy.gif');
  background-size: cover;
  margin: 0;
  overflow: hidden;
  background-position: center;
}

